.image-thumbnail {
  position: relative;
  height: 240px;
  margin-right: 20px;
  padding: 2px;
}

.image-thumbnail__image {
  display: block;
  height: 100%;
}

.image-thumbnail__save {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: lightskyblue;
  padding: 10px 12px;
  border-radius: 10px;
  line-height: 1;
  font-size: 1.2rem;
}

.image-thumbnail__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 1.4rem;
  background-color: #EFEFEFE9;
}
